.searchbar {
  height: 50px;
  width: 500px;
  max-width: 80%;
  max-height: 25%;
}

.searchbar_location_homepage {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
}

.searchbar__input {
  height: 100%;
  width: calc(100% - 50px);
  border-radius: 20px 0 0 20px;
  display: inline;
  padding: 0;
  border-right: none;
  border: none;
  font-size: 20px;
  padding-left: 10px;
}

.searchbar__submit-btn {
  display: inline;
  width: 75px;
  padding: 0;
  height: 100%;
  border-radius: 0 20px 20px 0;
  background-color: #ff7870;
  border: none;
  background-image: url("../../assets/Search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  cursor: pointer;
}

.searchbar__submit-btn:active {
  background-color: #ff564d;
}
