@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background-color: #fff0d67d;
  border-bottom: 2px #fff solid;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.header__logo {
  height: 100%;
}

.header__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  height: 100%;
  text-shadow: 1px 1px 3px white;
}

.header__btn:focus {
  outline: none;
}

.dropdown {
  opacity: 0;
}

.header__profile:hover > .dropdown {
  animation: fadeIn 0.3s ease-in forwards;
}

.dropdown__option {
  border: 2px solid #fff;
  width: 100%;
  background-color: #d6e5ff;
  cursor: pointer;
}
