.page-not-found {
  padding-top: 25vh;
}

.page-not-found__container {
  height: 50vh;
  width: 100%;
  margin: auto 0;
  background-color: #ffffff81;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-not-found__title {
  font-size: 85px;
  margin: 30px;
}

.page-not-found__link {
  text-decoration: none;
}

.page-not-found__btn {
  display: block;
  background-color: #a3c5ff;
  border: 4px solid #fff;
  border-radius: 100px;
  height: 45px;
  font-size: 14px;
  padding: 0 15px;
  cursor: pointer;
}

.page-not-found__btn:active {
  background-color: #70a2f8;
}
